.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: toRem(55);
  height: toRem(55);
  // padding: toRem(1) toRem(6);
  background: var(--color-panel-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  box-shadow:
    inset rgb(0 0 0 / 50%) -3px -3px 8px,
    inset rgb(255 255 255 / 90%) 3px 3px 8px,
    rgb(0 0 0 / 80%) 3px 3px 8px -3px;
  margin: toRem(16) auto;
  border: toRem(2) solid #bdbdbd;
  border-radius: toRem(10);
  transition: border-color var(--tr-base), box-shadow var(--tr-base), transform var(--tr-base);
  will-change: border-color, box-shadow, transform;
  cursor: pointer;

  @media (max-width: 1659.98px) {
    width: toRem(52);
    height: toRem(52);
  }

  @media (max-width: 1199.98px) {
    width: toRem(48);
    height: toRem(48);
  }

  @media (max-width: 767.98px) {
    width: toRem(44);
    height: toRem(44);
  }

  @media (max-width: 479.98px) {
    width: toRem(42);
    height: toRem(42);
  }

  &:active {
    border-color: var(--color-border-dark) var(--color-border-light) var(--color-border-light) var(--color-border-dark);
    box-shadow: inset toRem(1) toRem(1) 0 var(--color-shadow-inset-active);
  }

  &:focus-visible {
    outline: toRem(2) solid var(--color-focus-outline);
    outline-offset: toRem(2);
  }
}

.start {
  background-image: url('@/assets/image/emojis/start.png');
}

.gameover {
  background-image: url('@/assets/image/emojis/gameover.png');
}

.win {
  background-image: url('@/assets/image/emojis/win.png');
}