.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background: #c0c0c0;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
  border-radius: 0;
  cursor: pointer;
  box-shadow: inset 1px 1px 0 #dfdfdf;

  &:active {
    border-color: #808080 #fff #fff #808080;
    box-shadow: inset 1px 1px 0 #808080;
  }

  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}

.face {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  pointer-events: none;
}

