.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(10);
  font-family: 'Girassol', sans-serif;
  font-weight: 700;
  letter-spacing: toRem(1.92);
  font-size: toRem(45);

  @media(max-width: 1659.98px) {
    font-size: toRem(42);
    gap: toRem(8);
  }

  @media(max-width: 1199.98px) {
    font-size: toRem(36);
  }

  @media(max-width: 767.98px) {
    font-size: toRem(34);
  }

  @media(max-width: 479.98px) {
    font-size: toRem(28);
  }

  span {
    display: inline-block;
  }
}