.container {
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  width: toRem(40);
  height: toRem(50);
  border-radius: 50%;
}

.stem {
  margin-left: toRem(7);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
