$barBg: #c0c0c0;
$barBorder: #808080 #fff #fff #808080;
$barPadding: 0.25rem 0.5rem;
$barGap: 0.5rem;
$cellSize: 2rem;
$cellGap: 0.125rem;

.statusBar {
  --cell-size: #{$cellSize};
  --cell-gap: #{$cellGap};
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $barGap;
  width: calc(var(--cols, 9) * var(--cell-size) + (var(--cols, 9) - 1) * var(--cell-gap));
  padding: $barPadding;
  background: $barBg;
  border: 2px solid;
  border-color: $barBorder;
  box-shadow: inset 1px 1px 0 #dfdfdf;

  > *:first-child {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    justify-content: flex-start;
  }

  > *:last-child {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    justify-content: flex-end;
  }

  > *:nth-child(2) {
    flex-shrink: 0;
  }
}
