.statusBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: toRem(8);
  width: 100%;
  min-width: calc(var(--cols, 9) * var(--cell-size) + (var(--cols, 9) - 1) * var(--cell-gap));
  padding: toRem(10) toRem(20);
  border-top: toRem(2) solid var(--color-border-dark);
  border-left: toRem(2) solid var(--color-border-dark);
  border-bottom: toRem(2) solid var(--color-border-light);
  border-right: toRem(2) solid var(--color-border-light);
  box-shadow:
    inset toRem(2) toRem(2) toRem(0) var(--color-shadow-inset),
    inset toRem(-2) toRem(-2) toRem(0) var(--color-shadow-inset-active);

  @media (max-width: 479.98px) {
    padding: toRem(6) toRem(10);
  }


  >*:first-child {
    min-width: 0;
    display: flex;
    justify-content: center;
    flex: 0 1 30%;
  }

  >*:last-child {
    min-width: 0;
    display: flex;
    justify-content: center;
    flex: 0 1 30%;
  }

  >*:nth-child(2) {
    flex-shrink: 0;
  }
}