.container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: toRem(24);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(15);
  font-family: var(--font-nosifer);
  font-weight: 700;
  font-size: toRem(48);

  @media (max-width: 1199.98px) {
    font-size: toRem(42);
    top: 97%;
  }

  @media (max-width: 479.98px) {
    font-size: toRem(36);
  }
}
