.container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: 'Nosifer', sans-serif;
  font-weight: 700;
  font-size: 48px;

  @media (max-width: 479px) {
    font-size: 36px;
  }
}
