$gamePadding: 1rem;
$gameGap: 1rem;

.game {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/image/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gameGap;
  padding: $gamePadding;

}