.gameContainer {
  --cell-size: #{toRem(50)};

  position: relative;
  min-height: 100vh;
  background-image: url('../../assets/image/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: toRem(16);
  overflow: visible;

  @media (max-width: 1659.98px) {
    --cell-size: #{toRem(45)};
  }

  @media (max-width: 1199.98px) {
    --cell-size: #{toRem(40)};
  }

  @media (max-width: 767.98px) {
    --cell-size: #{toRem(38)};
  }

  @media (max-width: 479.98px) {
    --cell-size: #{toRem(33)};
  }
}

.gameWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: toRem(12);
  max-width: var(--game-max-width);
  width: fit-content;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: toRem(6);
  padding: toRem(6);
  background: var(--color-panel-bg);
  border-top: toRem(3) solid var(--color-border-light);
  border-left: toRem(3) solid var(--color-border-light);
  border-bottom: toRem(3) solid var(--color-border-dark);
  border-right: toRem(3) solid var(--color-border-dark);
  box-shadow: toRem(3) toRem(3) toRem(0) var(--color-shadow);
}