.container {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: toRem(24);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(20);
  font-family: var(--font-alfa-slab-one);
  font-size: toRem(48);

  @media (max-width: 479.98px) {
    font-size: toRem(36);
  }
}
