@font-face {
    font-family: 'Nosifer';
    src: url("../fonts/Nosifer-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Girassol';
    src: url("../fonts/Girassol-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url("../fonts/AlfaSlabOne-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
