:root {
	// Шрифти
	--font-nosifer: "Nosifer", cursive, sans-serif;
	--font-girassol: "Girassol", cursive, sans-serif;
	--font-alfa-slab-one: "Alfa Slab One", cursive, sans-serif;

	// Трансформації

	--tr-fast: 0.2s ease;
	--tr-base: 0.3s ease;

	// Кольори 

}
