@use "sass:math";

@use "_mixins.scss" as *;

/* Підключення фрифтів */

/* Google Fonts (Plugin) */

// @import "_mixins.scss";

/* Локальне підключення шрифтів */
@use "_fonts.scss";

/* Скидання стилів */
@import url("_reset.scss");

// Змінні
@import url("_variables.scss");

/* Основні стилі */
body {
  background-color: var(--turquoise-20);
}

#root {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
}